<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="restaurant" transaction-type="RESOURCE_LOCAL">

        <class>com.company.restaurant.entity.Shop</class>
        <class>com.company.restaurant.entity.Menu</class>
        <class>com.company.restaurant.entity.Order</class>
    </persistence-unit>
</persistence>
